@import 'variables';
@import 'navbar';

html, body {
	overflow-x: hidden; 
}

.info {
	.info__img {
		padding: 0;
	}

	.info__text {
		padding-top: 1rem;
		border-top: solid 4px $azul-logo--claro;	
	}
}

.info__contents {
	.column {
		padding: 0;
	}

	.text--active {
		padding: 1.2rem;
		background-color: $azul-logo--claro-alpha;
		height: 100%;

		h1, h3, p {
			color: #fff;
		}
	}

	.text--inactive {
		padding: 1.2rem;
		background-color: rgba(255, 255, 255, 0.7);
		height: 100%;
		border-left: solid 4px $azul-logo--claro; 

		h3, p {
			color: $azul-logo--claro;
		}
		h1 {
			color: $azul-logo;
		}
	}

    .info__contents--first {
        background-image: url(../images/banner--4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 200px;
    }
    .info__contents--second {
        background-image: url(../images/Felipe-01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 200px;
    }
    .info__contents--third {
        background-image: url(../images/Christopher-01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 200px;
    }
}



/* footer */

footer.navbar.is-brand.is-fixed-bottom {
    background-color: $azul-logo;
    color: $azul-logo--claro;
    min-height: 30px;
    max-height: 30px;
    text-align: center;

    .fa-angle-up {
    	text-align: center;
        line-height: 30px;
        font-size: 2rem;
        margin-left: calc(50vw - 50%);
    }
}