@charset "UTF-8";
/* Barra de navegación con despliegue lateral */
nav {
  height: 80px;
  width: 100%;
}
nav .topbar {
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 0 1rem;
  width: 100%;
  height: 20px;
  line-height: 20px;
  background-color: #4387EA;
  z-index: 1000;
}
nav .topbar .date {
  color: #142744;
  font-size: 0.7rem;
}
nav .topbar .social-networks {
  font-size: 1rem;
  line-height: 20px;
  vertical-align: middle;
}
nav .topbar .social-networks a {
  margin: 0 0 0 0.5rem;
  color: #142744;
}
nav .navbar {
  grid-column: span 12;
  position: fixed;
  display: flex;
  top: 20px;
  width: 100%;
  padding: 0 1rem;
  height: 60px;
  line-height: 60px;
  background-color: #1B365E;
  color: #EEE;
  z-index: 1000;
}
nav .navbar a {
  color: #fff;
}
nav .navbar h1 {
  display: none;
}
nav .navbar .navbar__brand img {
  max-height: 60px;
  width: 200px;
  line-height: 60px;
  vertical-align: middle;
  padding: 5px;
}
nav .navbar .navbar__items {
  display: flex;
  margin-left: auto;
}
nav .navbar .navbar__items li {
  margin-left: 2rem;
  font-weight: 300;
}
nav .navbar .navbar__toggle {
  display: none;
  margin: auto 0 auto auto;
  cursor: pointer;
  line-height: 60px;
}
nav .navbar .sidenav--close {
  display: none;
  right: 0;
}
nav .navbar .sidenav--open {
  display: flex;
  right: 0;
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 100;
  top: 80px;
  background-color: #142744;
  overflow-x: hidden;
  padding-top: 40px;
  text-align: center;
  opacity: 0.95;
  transition: 1s;
}
nav .navbar .sidenav__items {
  margin: 0 auto;
  font-weight: 300;
  opacity: 0;
  transition: 0.5s;
}

/* /Barra de navegación con despliegue lateral */
@media only screen and (min-width: 1024px) {
  nav .topbar {
    padding: 0 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  nav .navbar {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 480px) {
  nav .navbar .navbar__items {
    display: none;
    flex-direction: column;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  nav .navbar .navbar__items {
    display: none;
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav .navbar .navbar__items {
    display: none;
    flex-direction: column;
  }
}
@media only screen and (max-width: 480px) {
  nav .navbar .navbar__toggle {
    display: block;
  }
  nav .navbar .navbar__toggle .fa-bars {
    opacity: 0.8;
    display: block;
    line-height: 60px;
    transition: 1s;
  }
  nav .navbar .navbar__toggle .fa-times {
    opacity: 0;
    display: none;
    line-height: 60px;
    transition: 1s;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  nav .navbar .navbar__toggle {
    display: block;
  }
  nav .navbar .navbar__toggle .fa-bars {
    opacity: 0.8;
    display: block;
    line-height: 60px;
    transition: 1s;
  }
  nav .navbar .navbar__toggle .fa-times {
    opacity: 0;
    display: none;
    line-height: 60px;
    transition: 1s;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav .navbar .navbar__toggle {
    display: block;
  }
  nav .navbar .navbar__toggle .fa-bars {
    opacity: 0.8;
    display: block;
    line-height: 60px;
    transition: 1s;
  }
  nav .navbar .navbar__toggle .fa-times {
    opacity: 0;
    display: none;
    line-height: 60px;
    transition: 1s;
  }
}

.columns {
  margin: 0;
}
.columns:last-child {
  margin-bottom: 0;
}

/* Seccion 1*/
.info .info__img {
  padding: 0;
}
.info .info__text {
  padding-top: 1rem;
  border-top: solid 4px #4387EA;
}

.info__contents .column {
  padding: 0;
}
.info__contents .text--active {
  padding: 1.2rem;
  background-color: rgba(69, 134, 234, 0.7);
  height: 100%;
}
.info__contents .text--active h1, .info__contents .text--active h3, .info__contents .text--active p {
  color: #fff;
}
.info__contents .text--inactive {
  padding: 1.2rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  border-left: solid 4px #4387EA;
}
.info__contents .text--inactive h3, .info__contents .text--inactive p {
  color: #4387EA;
}
.info__contents .text--inactive h1 {
  color: #1B365E;
}
.info__contents .info__contents--first {
  background-image: url(../images/banner--4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 200px;
}
.info__contents .info__contents--second {
  background-image: url(../images/Felipe-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 200px;
}
.info__contents .info__contents--third {
  background-image: url(../images/Christopher-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 200px;
}

/* /.Seccion 1 */
/* Seccion 2 */
.sec-prod {
  margin-top: 10px;
  border-top: solid 1px rgba(69, 134, 234, 0.7);
  border-bottom: solid 1px rgba(69, 134, 234, 0.7);
}
.sec-prod .headings h1 {
  padding-top: 2rem;
}
.sec-prod .headings ul {
  margin-bottom: 50px;
}
.sec-prod .headings li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
.sec-prod .products {
  background-color: #4387EA;
  padding: 2rem;
  color: #fff;
}
.sec-prod .products h1 {
  color: #fff;
}

/* /.Seccion 2 */
/* footer */
footer.navbar.is-brand.is-fixed-bottom {
  background-color: #1B365E;
  color: #4387EA;
  min-height: 30px;
  height: 30px;
}
footer.navbar.is-brand.is-fixed-bottom .fa-angle-up {
  margin-left: calc(50vw - 1rem);
  text-align: center;
  line-height: 30px;
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
